// Placeholder selector, wont print to CSS
%no-margin{
    margin: 0;
}

.image-row{
    display: flex;
    justify-content: space-between;
}

.image-caption{
    @extend %no-margin; // Extends placeholder selector will print "margin: 0;"
}

.image-container{
    flex-basis: 50%;
}

.image-text{
    flex-basis: 45%;
}

.image-left{
    @include brandBorder(right, 30px); // Uses mixin to add border, values = border direction and width
}

.image-right{
    @include brandBorder(left, 15px); // Uses mixin to add border, values = border direction and width
}