// Mixing for adding padding to content elements
@mixin contentPadding(){
    padding: 15px;
}

// Mixin for font families
@mixin headingFonts(){
    font-family: 'Playfair Display', "Times New Roman", Georgia, serif;
}

// Mixin for font families body text
@mixin bodyFonts($bold: null){
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;

    // If value is provided add bold rule
    @if($bold != null) { font-weight: bold;}
}

// Creates a border of different sizes
@mixin brandBorder($direction: false, $size: 5px){

    @if($direction == left){
        border-left: $size solid $brandColor;
    }
    @else if($direction == right){
        border-right: $size solid $brandColor;
    }
    @else if($direction == top){
        border-top: $size solid $brandColor;
    }
    @else if($direction == bottom){
        border-bottom: $size solid $brandColor;
    }
    @else{
        border: $size solid $brandColor;
    }
}


