.nav{
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $navHeight;

    // Nested selectors within .nav
    .main-nav{
        
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        background: $secondaryColor; // Color value from variable
        justify-content: center;

        li{
            @include bodyFonts(bold); // Mixin fetches font families, makes it bold
            font-size: 20px;
        }

        a{
            display:block;
            color: white;
            padding: 10px;
            text-decoration: none;

            &:focus, &:hover {
                color: darken(white, 10); // darken color on hover
            }
        }
    }
}