// Placeholder selector
%no-margin{
    margin: 0;
}

.h1,.h2,.h3,.h4,.h5,.h6{
    @include headingFonts(); // Fetches font families for headings
    color: white;
}

.h1{
    text-align: center;
    @extend %no-margin; // Fetches values from placeholder selector
    line-height: $headerHeight - $navHeight; // Centers text vertically grabbing values
}

p{
    @include bodyFonts();
    font-size: 17px;
}

.h2,.h3,.h4,.h5,.h6{
    background: $secondaryColor; // Color value from variable
    display: inline-block;
    padding: 10px;
}
